[submodule "dependencies/miniupnp"]
	path = dependencies/miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "dependencies/zlib"]
	path = dependencies/zlib
	url = https://github.com/madler/zlib.git
[submodule "dependencies/bzip2/src"]
	path = dependencies/bzip2/src
	url = git://sourceware.org/git/bzip2.git
